.galerie {
    list-style: none;
    padding: 0;
    margin: 0;
}

.galerie li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
}

.galerie li a {
    text-decoration: none;
}

.galerie li img {
    width: 400px;
    height: 889px;
}

.galerie li h2 {
    margin-top: 10px;
    text-align: center;
}
.galerie {
    list-style: none;
    padding: 0;
    margin: 0;
}

.galerie li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
}

.galerie li a {
    text-decoration: none;
}

.galerie li img {
    width: 400px;
    height: 889px;
}

.galerie li h2 {
    margin-top: 10px;
    text-align: center;
}

